.masterhead {
  text-align: center;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 650px;
  width: 100%;
  padding-top: 100px;
  background-color: var(--black);
}
.introHeadingName {
  color: var(--white);
  font-weight: bold;
  border-bottom: 3px solid var(--white);
  padding-left: 20px;
}
.introHeading {
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 15px;
}
.introHeadingSpan {
  color: var(--orange);
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 80%;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}
.introHeadingH4 {
  color: var(--darkpurple);
  font-size: 80%;
  font-weight: bolder;
}
.introHeadingPara1 {
  padding-left: 10%;
  padding-right: 10%;
  color: var(--gray2);
  font-size: large;
  text-align: justify;
}
.selfImage {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
}
.viewMyWorkButton {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  display: inline;
  padding: 10px 50px;
  width: 48%;
  height: 200px;
  text-align: center;
  background-color: var(--purple);
}
.viewMyWorkButton:hover {
  color: var(--white);
  background-color: var(--orange);
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

@media (min-width: 768px) {
  .introHeadingName {
    color: var(--white);
    font-weight: bold;
    border-bottom: 4px solid var(--white);
    padding-left: 20px;
  }
  .introHeading {
    position: relative;
    margin-bottom: 15px;
  }
  .introHeadingSpan {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 100%;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(0.2s * var(--i));
  }
  .introHeadingH4 {
    color: var(--violetred);
    font-size: 100%;
    font-weight: bolder;
  }
  .introHeadingPara1 {
    padding-left: 10%;
    padding-right: 10%;
    color: var(--gray2);
    font-size: x-large;
  }
  @keyframes flip {
    0%,
    80% {
      transform: rotateY(360deg);
    }
  }
}
