.masthead {
  text-align: center;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 650px;
  width: 100%;
  padding-top: 100px;
  background-color: var(--black);
}
.intro-heading-name {
  color: var(--white);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 3px solid var(--white);
  padding-left: 20px;
}
.intro-heading {
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 15px;
}
.intro-heading-span {
  color: var(--orange);
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 80%;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}
.intro-heading-h4 {
  color: var(--darkpurple);
  font-size: 100%;
  font-weight: bolder;
}
.intro-heading-para1 {
  padding-left: 20%;
  padding-right: 20%;
  color: var(--gray2);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
}
.aboutMe-heading {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  color: var(--teal);
  font-size: 200%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.selfImage {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
}
.vieMyWorkButton {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  display: inline;
  padding: 10px 50px;
  width: 48%;
  height: 200px;
  text-align: center;
  background-color: var(--purple);
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

@media (min-width: 768px) {
  .intro-heading-name {
    color: var(--white);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 4px solid var(--white);
    padding-left: 20px;
  }
  .intro-heading {
    position: relative;
    margin-bottom: 15px;
  }
  .intro-heading-span {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 100%;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(0.2s * var(--i));
  }
  .intro-heading-h4 {
    color: var(--darkpurple);
    font-size: 100%;
    font-weight: bolder;
  }
  .intro-heading-para1 {
    padding-left: 20%;
    padding-right: 20%;
    color: var(--gray2);
    font-family: sans-serif;
    font-size: x-large;
  }
  .aboutMe-heading {
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
    color: var(--teal);
    font-size: 250%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  @keyframes flip {
    0%,
    80% {
      transform: rotateY(360deg);
    }
  }
}
