* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.navBar {
  position: fixed;
  width: 100%;
  color: var(--white);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  z-index: 9999;
}
.navBarClass {
  list-style-type: none;
  padding-right: 20px;
  margin-bottom: 0px;
}
.navItem {
  display: inline-block;
}
.navItemLink {
  display: block;
  padding: 20px;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}
.navItemLink:hover {
  background-color: var(--gray1);
  color: var(--white);
}
.navItemLink:active {
  background-color: var(--orange);
}
.menu{
  display: none;
}
.menuLine {
  width: 30px;
  height: 5px;
  background-color: var(--orange);
  margin-bottom: 4px;
}
@media all and (max-width: 630px) {
  .navBar {
    background-color: var(--black);
    height: fit-content;
    flex-direction: column;
  }
  .menu {
    padding-right: 20px;
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .navBarClass {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    display: none;
  }
  .navItem {
    display: block;
    border-top: 1px solid var(--white);
  }
  .active {
    display: block;
  }
}
