.projects {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 40px;
  background-color: var(--white);
}
.projectCard {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 30px;
  padding: 30px 30px;
}
.projectPhoto {
  width: 350px;
  height: 250px;
}
.vieMyResumeButton {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
  display: block;
  padding: 20px;
  text-align: center;
  border: 0;
  background-color: var(--black);
  border-radius: 20px;
}
.vieMyResumeButton:hover {
  color: var(--orange);
}
.resumeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 100px;
}
.projectInfo {
  padding: 20px;
  text-rendering: optimizeLegibility;
}
.projectPurpose{
  font-size: 1.2rem;
  font-weight: bolder;
}
.projectInfoPara{
  font-size: 1.2rem;
  padding: 20px;
  text-rendering: optimizeLegibility;
}
.projectTitle {
  font-size: 1.8rem;
  font-weight: 600;
}
.projectTags {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
}
.tag {
  text-align: center;
  padding: 4px 8px;
  background-color: var(--teal);
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 4px;
  color: var(--white);
}
.projectLinks a {
  text-decoration: none;
  color: var(--black);
}
.linkButton:hover {
  color: var(--white);
  background-color: var(--orange);
}
.projectLinks {
  margin-top: 6px;
  display: flex;
  padding-bottom: 10px;
}
.linkButton {
  display: flex;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
  margin-right: 6px;
}
.linkButton i {
  display: flex;
  align-items: center;
  mask-repeat: 4px;
}

@media only screen and (max-width: 980px) {
  .projects {
    padding-top: 30px;
  }
  .projectCard {
    flex-direction: column-reverse;
  }
  .projectInfo {
    margin-left: 0px;
    margin-top: 10px;
  }
  .projectTags {
    max-width: 100%;
  }
  .linkButton:hover {
    color: var(--white);
    background-color: var(--orange);
  }
  .projectPhoto {
    width: 480px;
    height: 300px;
  }
}
@media (max-width: 520px) {
  .projectPhoto {
    width: 350px;
    height: 250px;
  }
}