* {
    box-sizing: border-box;
  }
  
  :root {
    --white: #ffffff;
    --gray1: #333333;
    --gray2: #555555;
    --gray3: #cccccc;
    --gray4: #dbd8d8;
  
    --black: #080808;
    --teal: #006060;
    --lightteal: #008080;
    --purple: #800080;
    --navy: #000080;
    --cyan: #17a2b8;
    --violetred: #c71585;
    --red: #ff0000;
    --orange: #ffa500;
    --green: #006400;
    --yellow: #cdd73a;
    --purple1:#874feb;
    --lightgreen:#4ffe75;
    --darkpurple:#5df0fd;
    --purple3:#7a21d4;
    --lightsky:rgb(241, 248, 254);
  }
  
  body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    color: var(--gray1);
    margin: 0;
    min-width: 400px;
  }